html { font-size: 12px;
       font-family: 'Open Sans',serif;
       background-color: #F0F8FB;}

body { width: 910px;
       margin: 4;
       padding: 20 20px 20px 20px;
       font-family: serif;
       font-size: 120% 
}
h1 {
    font-size: 48px;
    text-align: center;
    color: #6c097b;
    text-shadow: 3px 3px 2px pink;
    margin: 0;
    margin-bottom: 6;
    font-family: serif;
}

h3#toc1 {font-size:24px;
         color: black;
         text-shadow: 1px 1px 3px #c25cd1;
         margin: 6;
         margin-bottom: 1.5 }

ul#toc {margin: 6;
        margin-top: 1.4 }

p, ul, li {color:darkslateblue;
           margin : 5;
           margin-left: 9}

h2 {text-shadow: 1px 1px 3px #c587ef;
    margin-bottom : 6;
    margin-top : 17;
    font-size: 24}

div#d1 {border: thick double #110c69;
        box-shadow: 1px 1px 5px #6693de}

h3{font-size: 18;
    margin-top: 5;
    margin-bottom: 6;
    margin-left: 4;
    color: #0c4b64;
    text-shadow: .5px .5px 2px lightblue;
   }

div#end {margin-left: 9}
